* {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/*  --- mediaQuery --- */

@media (max-width: 360px) {
    /* p {
        display: none;
    } */
}


/*  --- estilos texto --- */

h1 {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    border-radius: 50px;
    margin: 30px 570px;
    padding: 5px 25px;
    background-color: springgreen;
}


/*  --- estilos links --- */

a {
    font-weight: 500;
    ;
    color: black;
    justify-content: center;
    align-items: center;
}


/*  --- navbar --- */

.nav {
    padding: 0 2em;
    height: 0rem;
    min-height: 10vh;
}


/*  --- ilustracion --- */

.contenedor-ilust {
    height: 150px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#ilust {
    border-radius: 100px;
    border-color: springgreen;
    border-width: 5px;
    border-style: solid;
}


/*  --- body --- */


/* .colorparag {
    color: black;
    display: initial;
} */

.contenedor {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.linkedin {
    margin: auto;
    width: 800px;
    height: 142px;
    background-image: url(img/Recurso\ 4link.svg);
    background-repeat: no-repeat;
    padding: 53px 378px;
}

.behance {
    margin: auto;
    width: 800px;
    height: 142px;
    background-image: url(img/Recurso\ 6beha.svg);
    background-repeat: no-repeat;
    padding: 53px 378px;
}

.codepen {
    margin: auto;
    width: 800px;
    height: 142px;
    background-image: url(img/Recurso\ 5code.svg);
    background-repeat: no-repeat;
    padding: 53px 378px;
}

.insta {
    margin: auto;
    width: 800px;
    height: 142px;
    background-image: url(img/Recurso\ 7insta.svg);
    background-repeat: no-repeat;
    padding: 53px 378px;
}


/*  --- footer--- */